
<nav class="navbar navbar-expand-lg bg-light">
  <div style="text-align: center;background: #345663">
    <h1>Book Story</h1>  
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/home" aria-current="page" href="#">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/createBook" href="#">Create Book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/listBooks" aria-current="page" href="#">
          List of Books  <span class="badge bg-primary rounded-pill">14</span></a>
      </li>
      </ul>
</div>
</nav>
<router-outlet></router-outlet>
